body{
    background-color: rgb(42, 42, 134);
}
.quiz-container{
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 1000px;
    height: 400px;
    margin:auto;
    margin-top: 10%;
}

h1{
    text-align: center;
    font-size: 40px;
   padding: 5px;
}
p{
    font-size: 20px;
    text-align: center;
}

.ans-btn button{
    background-color: rgb(57, 171, 224);
    width: 400px;
    align-items: center;
    margin: 0px 15px 25px 15px;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    border: none;
}

.pnq-btns button{
    width: 80px;
    align-items: center;
    padding: 5px;
    margin: 20px;
    border: none;
    
}
.prev-btn{
    background-color: rgb(70, 175, 228);
}
.next-btn{
    background-color: rgb(90, 231, 90);
}
.quit-btn{
    background-color: rgb(235, 82, 82);
}