body{
    background-color: rgb(42, 42, 83);
}
h1{
    color: green;
}
.score-container{
    width: 800px;
    height: 300px;
    background-color: white;
    margin: auto;
    
}
.heading{
    font-size: 30px;
    color: dimgray;
    padding-top: 20px;
}
.score{
    color:rgb(66, 214, 207);
    font-size: 40px;
    padding-top: 10px;
    margin: auto;
}
.score-details{
    width:100%;
    justify-content: space-between;
    margin: auto;
    display:flex;
    
}
.score-details p{
    font-size: 15px;
    
    align-content: flex-start;
    margin:0px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.pb-btn{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    

    
   
}
.play-btn{
    border: 1px solid rgb(35, 35, 94);
    color: rgb(35, 35, 94);
    width:100px;
    padding: 5px;
    
}
.home-btn{
    color:rgb(27, 97, 27);
    border: 1px solid rgb(27, 97, 27);
    padding:5px;
    width:100px;
    
    
}